{% extends "Base.html" %}
{% block content %}
<!--Main banner-->
<section id="banner" class="banner">
    <div class="bg-color">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'HomePage'%}"><img src="/static/img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#banner">분실물 목록</a></li>
                            <!-- <li class=""><a href="#service">최근 분실물</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-text text-center" >
                        <h1 class="white">분실물을 찾아보세요!</h1>
                        <table cellspacing=1 width=700 border=0>
                            <tr>
                                <td><p align=left> 총 분실물 수</p></td>
                                </td>
                            </tr>
                        </table>
                        <table cellspacing=1 width=700 border=1>
                            <tr>
                                <td width=100><p align=center>번호</p></td>
                                <td width=100><p align=center>이름</p></td>
                                <td width=320><p align=center>제목</p></td>
                                <td width=100><p align=center>등록일</p></td>
                            </tr>
                            <ul>
                                {% for item in items %}
                                <tr>
                                    <td width=50><a href="{% url 'ItemDetail' pk=item.pk %}" style="color: white"><p align=center>{{ item.num }}</p></a></td>
                                    <td width=300><p align=center><a href="{% url 'ItemDetail' pk=item.pk %}" style="color: white">{{ item.productName }}</a></p></td>
                                    <td width=1000><p align=center><a href="{% url 'ItemDetail' pk=item.pk %}" style="color: white">{{ item.productDesc }}</a></p></td>
                                    <td width=300><p align=center><a href="{% url 'ItemDetail' pk=item.pk %}" style="color: white">{{ item.findYmd }}</a></p></td>
                                </tr>
                                {% endfor %}
                            </ul>
                        </table>
                        <table width=700>
                            <tr>
                                {% if items.has_previous %}
                                <a href="?page=1">맨 앞으로 </a>
                                <a href="?page={{items.previous.page_number}}">이전으로 </a>
                                {% endif %}
                                <span>{{items.number}} </span>
                                <span>/ </span>
                                <span>{{items.paginator.num_pages}} </span>
                                {% if items.has_next %}
                                <a href="?page={{items.next_page_number}}">다음으로 </a>
                                <a href="?page={{items.paginator.num_pages}}">맨 뒤로</a>
                                {% endif %}
                            </tr>
                        </table>
                        <a href="#contact"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Main banner-->

<!--Latest Losts
<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">최근 분실물</h2>
                <hr class="botm-line">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris cillum.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>24 Hour Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Emergency Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Medical Counseling</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Premium Healthcare</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--/Latest Losts-->
{% endblock %}