
<table cellspacing=1 width=700 border=0>
    <tr>
        <td>총 게시물수: </td>
        <td><p align=right> 페이지:
        </td>
    </tr>
</table>

<table cellspacing=1 width=700 border=1>
    <tr>
        <td width=50><p align=center>번호</p></td>
        <td width=100><p align=center>이름</p></td>
        <td width=320><p align=center>제목</p></td>
        <td width=100><p align=center>등록일</p></td>
    </tr>

    <ul>
        {% for item in items %}
        <tr>
            <td width=50><p align=center>{{ item.num }}</p></td>
            <td width=300><p align=center>{{ item.productName }}</p></td>
            <td width=1000><p align=center>{{ item.productDesc }}</p></td>
            <td width=300><p align=center>{{ item.findYmd }}</p></td>
        </tr>
        {% endfor %}
    </ul>
</table>

<table width=700>
    <tr>
        <td><input type=button value="글쓰기"></td>
        {% if items.has_previous %}
        <a href="?page=1">맨 앞으로 </a>
        <a href="?page={{items.previous.page_number}}">이전으로 </a>
        {% endif %}
        <span>{{items.number}} </span>
        <span>/ </span>
        <span>{{items.paginator.num_pages}} </span>
        {% if items.has_next %}
        <a href="?page={{items.next_page_number}}">다음으로 </a>
        <a href="?page={{items.paginator.num_pages}}">맨 뒤로</a>
        {% endif %}

        <td><form name=searchf method=post action="/searchWithSubject/">
            <p align=right><input type=text name=searchStr size=50  maxlength=50>
                <input type=submit value="글찾기"></p>
        </td>
    </tr>
</table>